@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link rel="stylesheet" href="~/css/material-design-iconic-font.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/reg-log-style.css" />

<div class="container-operations">
    <div class="signup-content">
        <div class="form-group">
            <ul class="back-to-home">
                <li class="form-submit submit"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
        </div>

        <h2>@ViewData["Title"]</h2>
        <h4>Enter your email and we will send a new password.</h4>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-input" placeholder="Email..." />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <br />

                    <button type="submit" class="form-submit submit">Submit</button>
                </form>
                <br />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/js/main.js"></script>
