@{
    this.ViewData["Title"] = "Credits";
}

<div class="container">

    <h1 class="h1-responsive" style="text-align: center;">@this.ViewData["Title"]</h1>
    <hr>      

    <h2>This product uses the TMDB API but is not endorsed or certified by TMDB.</h2>
    <hr />
    <img src="~/images/tmdb-img.jpg" class="image-center" />
</div>