@{
    this.ViewData["Title"] = "Privacy Policy";
}

<div class="container">

    <h1 class="h1-responsive" style="text-align: center;">Privacy Policy</h1>
    <hr>
    <div>
        <h3 style="font-weight: bold;">
            1. Information we collect
        </h3>
        <br />

        <h4>Log data</h4>
        <p>When you visit our website, our servers may automatically log the standard data provided by your web browser. It may include your computer’s Internet Protocol (IP) address, your browser type and version, the pages you visit, the time and date of your visit, the time spent on each page, and other details.</p>
        <h4>Device data</h4>
        <p>We may also collect data about the device you’re using to access our website. This data may include the device type, operating system, unique device identifiers, device settings, and geo-location data. What we collect can depend on the individual settings of your device and software. We recommend checking the policies of your device manufacturer or software provider to learn what information they make available to us.</p>
        <h4>Personal information</h4>
        <p>We may ask for personal information, such as your:</p>
        <ul>
            <li>Name</li>
            <li>Email</li>
            <li>Date of birth</li>
            <li>Hometown</li>
        </ul>
    </div>
    <br />
    <div>
        <h3 style="font-weight: bold;">2. Legal bases for processing</h3>
        <br />

        <p>We will process your personal information lawfully, fairly and in a transparent manner. We collect and process information about you only where we have legal bases for doing so.</p>
        <p>These legal bases depend on the services you use and how you use them, meaning we collect and use your information only where:</p>
        <ul>
            <li>it’s necessary for the performance of a contract to which you are a party or to take steps at your request before entering into such a contract (for example, when we provide a service you request from us);</li>
            <li>it satisfies a legitimate interest (which is not overridden by your data protection interests), such as for research and development, to market and promote our services, and to protect our legal rights and interests;</li>
            <li>you give us consent to do so for a specific purpose (for example, you might consent to us sending you our newsletter); or</li>
            <li>we need to process your data to comply with a legal obligation.</li>
        </ul>
        <p>Where you consent to our use of information about you for a specific purpose, you have the right to change your mind at any time (but this will not affect any processing that has already taken place).</p>
        <p>We don’t keep personal information for longer than is necessary. While we retain this information, we will protect it within commercially acceptable means to prevent loss and theft, as well as unauthorised access, disclosure, copying, use or modification. That said, we advise that no method of electronic transmission or storage is 100% secure and cannot guarantee absolute data security. If necessary, we may retain your personal information for our compliance with a legal obligation or in order to protect your vital interests or the vital interests of another natural person.</p>
    </div>
    <br />
    <div>
        <h3 style="font-weight: bold;">3. Collection and use of information</h3>
        <br />

        <p>We may collect, hold, use and disclose information for the following purposes and personal information will not be further processed in a manner that is incompatible with these purposes:</p>
        <ul>
            <li>to enable you to customise or personalise your experience of our website;</li>
            <li>to enable you to access and use our website, associated applications and associated social media platforms;</li>
            <li>to contact and communicate with you;</li>
            <li>for internal record keeping and administrative purposes;</li>
            <li>for analytics, market research and business development, including to operate and improve our website, associated applications and associated social media platforms;</li>
            <li>to run competitions and/or offer additional benefits to you;</li>
            <li>for advertising and marketing, including to send you promotional information about our products and services and information about third parties that we consider may be of interest to you;</li>
            <li>to comply with our legal obligations and resolve any disputes that we may have; and</li>
            <li>to consider your employment application.</li>
        </ul>
    </div>
    <br />
    <div>
        <h3 style="font-weight: bold;">4. Disclosure of personal information to third parties</h3>
        <br />

        <p>We may disclose personal information to:</p>
        <ul>
            <li>third party service providers for the purpose of enabling them to provide their services, including (without limitation) IT service providers, data storage, hosting and server providers, ad networks, analytics, error loggers, debt collectors, maintenance or problem-solving providers, marketing or advertising providers, professional advisors and payment systems operators;</li>
            <li>our employees, contractors and/or related entities; and</li>
            <li>credit reporting agencies, courts, tribunals and regulatory authorities, in the event you fail to pay for goods or services we have provided to you.</li>
        </ul>
    </div>
    <br />
    <div>
        <h3 style="font-weight: bold;">5. International transfers of personal information</h3>
        <br />

        <p>The personal information we collect is stored and processed in United States and India, or where we or our partners, affiliates and third-party providers maintain facilities. By providing us with your personal information, you consent to the disclosure to these overseas third parties.</p>
        <p>We will ensure that any transfer of personal information from countries in the European Economic Area (EEA) to countries outside the EEA will be protected by appropriate safeguards, for example by using standard data protection clauses approved by the European Commission, or the use of binding corporate rules or other legally accepted means.</p>
        <p>Where we transfer personal information from a non-EEA country to another country, you acknowledge that third parties in other jurisdictions may not be subject to similar data protection laws to the ones in our jurisdiction. There are risks if any such third party engages in any act or practice that would contravene the data privacy laws in our jurisdiction and this might mean that you will not be able to seek redress under our jurisdiction’s privacy laws.</p>
    </div>
    <br />
    <div>
        <h3 style="font-weight: bold;">6. Cookies</h3>
        <br />

        <p>We use “cookies” to collect information about you and your activity across our site. A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit, so we can understand how you use our site. This helps us serve you content based on preferences you have specified. Please refer to our Cookie Policy for more information.</p>
    </div>
    <br />

</div>