@model EntertainmentHub.Web.ViewModels.Administration.Collector.GetDataInputModel

@{
    ViewData["Title"] = "Collect Data";
}

<div class="admin-forms container">
    <br />
    <h2 >Collect Data From <a style="text-decoration: underline" href="https://www.themoviedb.org/" target="_blank">TMDb.org</a></h2>
    <br />
    <h3>
        You may go to <a style="text-decoration: underline" href="https://www.themoviedb.org/movie" target="_blank">Movies Page</a>
        then click on any movie and in the url you will see the selected movie's ID and simply paste it down on both fields so you can
        get it, but it will only work for popular movies :]  Or just choose a range and see what happens.
    </h3>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="CollectData" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <hr />

                <div class="form-group">
                    <label asp-for="StartIndex"></label>
                    <input asp-for="StartIndex" class="form-control" />
                    <span asp-validation-for="StartIndex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndIndex"></label>
                    <input asp-for="EndIndex" class="form-control" />
                    <span asp-validation-for="EndIndex" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Gather Data</button>
            </form>
        </div>
    </div>
</div>
