@{
    this.ViewData["Title"] = "Success";
}

<br />
<div class="jumbotron text-center">
    <h1 class="display-3">Success!</h1>
    <hr />
    <p class="lead"><strong>You successfully collected data from TMDB.org!</strong></p>
    <hr>
    <p class="lead">
        <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Home" asp-action="Index" role="button">Continue to homepage.</a>
    </p>
</div>
