@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/material-design-iconic-font.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/reg-log-style.css" />

<div class="container-manage">
    <div class="signup-content">
        <div class="form-group">
            <ul class="back-to-home">
                <li class="form-submit submit"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
        </div>
        <h2>Manage your account</h2>

        <h4>Change your account settings</h4>
        <hr />

        <div class="form-group">
            <div>
                <partial name="_ManageNav" />
            </div>

            <div>
                @RenderBody()
                <br />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="~/js/main.js"></script>
