@model EntertainmentHub.Web.ViewModels.Contact.ReplyModel

@{
    this.ViewData["Title"] = "Reply";
}

<div class="admin-forms container">
    <br />
    <h2 class="admin-forms"><b>Reply</b></h2>
    <hr />

    <div class="col-md-6">
        <form asp-action="Reply" method="post">
            <div class="form-group">
                <label>From</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To"></label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Send</button>

            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
        </form>
        <br />
    </div>
</div>