@using EntertainmentHub.Common


<!--/footer-bottom-->
<div class="contact-w3ls" id="contact">
	<div class="footer-w3lagile-inner">
		<h2>Sign up for our <span>Newsletter</span></h2>
		<p class="para">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus
			tristique bibendum. Donec rutrum sed sem quis venenatis.
		</p>
		<div class="footer-contact">
			<form action="#" method="post">
				<input type="email" name="Email" placeholder="Enter your email...." required="">
				<input type="submit" value="Subscribe">
			</form>
		</div>
		<div class="footer-grids w3-agileits">
			<div class="col-md-2 footer-grid">
				<h4>Terms</h4>
				<ul>
					<li class="active">
						<a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
					</li>
					<li class="active">
						<a class="nav-link text-dark" asp-controller="Home" asp-action="CookiePolicy">Cookie Policy</a>
					</li>
					<li class="active">
						<a class="nav-link text-dark" asp-controller="Home" asp-action="Credits">Credits</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2 footer-grid">
				<h4>Movies</h4>
				<ul>

					<li><a href="genre.html">ADVENTURE</a></li>
					<li><a href="comedy.html">COMEDY</a></li>
					<li><a href="series.html">FANTASY</a></li>
					<li><a href="series.html">ACTION  </a></li>
					<li><a href="genre.html">MOVIES  </a></li>
					<li><a href="horror.html">HORROR  </a></li>

				</ul>
			</div>


			<div class="col-md-2 footer-grid">
				<h4>Review Movies</h4>
				<ul class="w3-tag2">
					<li><a href="comedy.html">Comedy</a></li>
					<li><a href="horror.html">Horror</a></li>
					<li><a href="series.html">Historical</a></li>
					<li><a href="series.html">Romantic</a></li>
					<li><a href="series.html">Love</a></li>
					<li><a href="genre.html">Action</a></li>
					<li><a href="single.html">Reviews</a></li>
					<li><a href="comedy.html">Comedy</a></li>
					<li><a href="horror.html">Horror</a></li>
					<li><a href="series.html">Historical</a></li>
					<li><a href="series.html">Romantic</a></li>
					<li><a href="genre.html">Love</a></li>
					<li><a href="comedy.html">Comedy</a></li>
					<li><a href="horror.html">Horror</a></li>
					<li><a href="genre.html">Historical</a></li>

				</ul>


			</div>
			<div class="col-md-2 footer-grid">
				<h4>Latest Movies</h4>
				<div class="footer-grid1">
					<div class="footer-grid1-left">
						<a href="single.html"><img src="~/images/1.jpg" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid1-right">
						<a href="single.html">eveniet ut molesti</a>

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="footer-grid1">
					<div class="footer-grid1-left">
						<a href="single.html"><img src="~/images/2.jpg" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid1-right">
						<a href="single.html">earum rerum tenet</a>

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="footer-grid1">

					<div class="footer-grid1-left">
						<a href="single.html"><img src="~/images/4.jpg" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid1-right">
						<a href="single.html">eveniet ut molesti</a>

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="footer-grid1">
					<div class="footer-grid1-left">
						<a href="single.html"><img src="~/images/3.jpg" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid1-right">
						<a href="single.html">earum rerum tenet</a>

					</div>
					<div class="clearfix"> </div>
				</div>


			</div>
			<div class="col-md-2 footer-grid">
				<h4 class="b-log"><a asp-controller="Home" asp-action="Index"><span>Enter</span>tainment <span>H</span>ub</a></h4>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="~/images/m1.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="~/images/m2.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="~/images/m3.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="~/images/m4.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="~/images/m5.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="~/images/m6.jpg" alt=" " class="img-responsive"></a>
				</div>

				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			<ul class="bottom-links-agile">
				<li><a href="icons.html" title="Font Icons">Icons</a></li>
				<li><a href="short-codes.html" title="Short Codes">Short Codes</a></li>
				<li><a href="contact.html" title="contact">Contact</a></li>

			</ul>
		</div>
		<h3 class="text-center follow">Connect <span>Us</span></h3>
		<ul class="social-icons1 agileinfo">
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-youtube"></i></a></li>
			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		</ul>
	</div>

</div>
<div class="w3agile_footer_copy">
	<p>&copy; @DateTime.Now.Year - @GlobalConstants.SystemName. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
</div>
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<script type="text/javascript" src="//sgwidget.leaderapps.co/js/sendgrid-widget.js"></script>
