@using EntertainmentHub.Common
@using EntertainmentHub.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
   
<div class="w3_agilits_banner_bootm">
    <div class="w3_agilits_inner_bottom">
        <div class="col-md-6 wthree_agile_login">
            <ul>
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li class="nav-item">
                            <a class="login reg" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Admin
                            </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="user-nav-st" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @this.User.Identity.Name!</a>
                    </li>
                                
                    <li class="resp-tab-item">  
                        <form style="color: black" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">                      
                            <button type="submit" class="resp-tab-item" >
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                Logout
                            </button >
                        </form>
                    </li>
                }
                else
                {                  
                   <li class="fa-solid fa-right-to-bracket">
                       <a class="login" asp-area="Identity" asp-page="/Account/Login">
                           <i class="fa fa-sign-in" aria-hidden="true"></i>
                           Login
                       </a>
                   </li>

                   <li class="space-between-elements">
                       <a class="login reg" asp-area="Identity" asp-page="/Account/Register">
                           <i class="fa fa-sign-in" aria-hidden="true"></i>
                           Register
                       </a>
                   </li>               
                }
            </ul>
        </div>
    </div>
</div>

