@inject EntertainmentHub.Services.Data.Contracts.IMoviesService MoviesService
@using EntertainmentHub.Web.ViewModels.Movies

@{
	var bannerMovie = await MoviesService.GetRandomMovieForBannerAsync<BannerMovieViewModel>();
	string trailerUrl = $"https://www.youtube.com/embed/{bannerMovie.Trailer}";
}

<div id="demo-1" data-zs-src='[@bannerMovie.Slideshow]' data-zs-overlay="dots">
	<div class="demo-inner-content">
		<div class="header-w3-agileits" id="home">
			<div class="inner-header-agile">
				<nav class="navbar navbar-default">
					<div class="navbar-header">					
						<h1><a asp-area="" asp-controller="Home" asp-action="Index"><span>Enter</span>tainment <span>H</span>ub</a></h1>
					</div>
					<!-- navbar-header -->
					<partial name="_NavigationPartial.cshtml" />

				</nav>
				<div class="w3ls_search">
					<div class="cd-main-header">
						<ul class="cd-header-buttons">
							<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
						</ul>
					</div>
					<div id="cd-search" class="cd-search">
						<form asp-area="" asp-controller="Search" asp-action="MoviesByTitle" method="get">
							<input name="Title" type="search" placeholder="Search..." required>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="baner-info">
			<h3><a asp-controller="Movies" asp-action="Details" asp-route-id="@bannerMovie.Id"><span style="color: honeydew">@bannerMovie.Title</span></a></h3>
			<h4>@bannerMovie.Tagline</h4>
			<a class="w3_play_icon1" href="#small-dialog">Watch Trailer</a>
		</div>
	</div>

	<div id="small-dialog" class="mfp-hide">
		<iframe src="@trailerUrl"></iframe>
	</div>
</div>