

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	<ul class="nav navbar-nav">
		<li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
		
		<li>
			<a href="list.html">Movies</a>
		</li>
		<li>
			<a href="series.html">TV - Series</a>
		</li>
		
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Genre <b class="caret"></b></a>
			<ul class="dropdown-menu multi-column columns-3">
				<li>
					<div class="col-sm-4">
						<ul class="multi-column-dropdown">
							<li><a href="genre.html">Action</a></li>
							<li><a href="genre.html">Biography</a></li>
							<li><a href="genre.html">Crime</a></li>
							<li><a href="genre.html">Family</a></li>
							<li><a href="horror.html">Horror</a></li>
							<li><a href="genre.html">Romance</a></li>
							<li><a href="genre.html">Sports</a></li>
							<li><a href="genre.html">War</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="multi-column-dropdown">
							<li><a href="genre.html">Adventure</a></li>
							<li><a href="comedy.html">Comedy</a></li>
							<li><a href="genre.html">Documentary</a></li>
							<li><a href="genre.html">Fantasy</a></li>
							<li><a href="genre.html">Thriller</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="multi-column-dropdown">
							<li><a href="genre.html">Animation</a></li>
							<li><a href="genre.html">Costume</a></li>
							<li><a href="genre.html">Drama</a></li>
							<li><a href="genre.html">History</a></li>
							<li><a href="genre.html">Musical</a></li>
							<li><a href="genre.html">Psychological</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
		</li>
	
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Country <b class="caret"></b></a>
			<ul class="dropdown-menu multi-column columns-3">
				<li>
					<div class="col-sm-4">
						<ul class="multi-column-dropdown">
							<li><a href="genre.html">Asia</a></li>
							<li><a href="genre.html">France</a></li>
							<li><a href="genre.html">Taiwan</a></li>
							<li><a href="genre.html">United States</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="multi-column-dropdown">
							<li><a href="genre.html">China</a></li>
							<li><a href="genre.html">HongCong</a></li>
							<li><a href="genre.html">Japan</a></li>
							<li><a href="genre.html">Thailand</a></li>
						</ul>
					</div>
					<div class="col-sm-4">
						<ul class="multi-column-dropdown">
							<li><a href="genre.html">Euro</a></li>
							<li><a href="genre.html">India</a></li>
							<li><a href="genre.html">Korea</a></li>
							<li><a href="genre.html">United Kingdom</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
		</li>

		<li>
			<a href="news.html">News</a>
		</li>

		<li class="active">
			<a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
		</li>
	</ul>

</div>
<div class="clearfix"> </div>