

<div id="demo-1" class="banner-inner">
    <!--/header-w3l-->
    <div class="header-w3-agileits" id="home">
        <div class="inner-header-agile part2">
            <nav class="navbar navbar-default">
                <div class="navbar-header">          
                    <h1><a asp-area="" asp-controller="Home" asp-action="Index"><span>Enter</span>tainment <span>H</span>ub</a></h1>
                </div>
				<!-- navbar-header -->
                <partial name="_NavigationPartial.cshtml" />

            </nav>
            <div class="w3ls_search">
                <div class="cd-main-header">
                    <ul class="cd-header-buttons">
                        <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                    </ul> <!-- cd-header-buttons -->
                </div>
                <div id="cd-search" class="cd-search">
                    <form asp-area="" asp-controller="Search" asp-action="MoviesByTitle" method="get">
                        <input name="Title" type="search" placeholder="Search..." required>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--//header-w3l-->
</div>