@{
    this.ViewData["Title"] = "Page not found";
}

<br />
<!--
VIEW IN FULL SCREEN MODE
FULL SCREEN MODE: http://salehriaz.com/404Page/404.html

DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
-->

<body class="bg-purple">
    <link rel="stylesheet" type="text/css" href="~/css/error-view.css" asp-append-version="true" />

     <div class="stars">
         <div class="custom-navbar">
             <div class="brand-logo">
                 <img src="http://salehriaz.com/404Page/img/logo.svg" width="80px">
             </div>
             <div class="navbar-links">
                 <ul>
                    <li class="btn-request"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="btn-request"><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <li class="btn-request"><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                 </ul>
             </div>
         </div>
         <div class="central-body">
             <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
            <a asp-controller="Home" asp-area="" asp-action="Index" class="btn-go-home">GO BACK HOME</a>
         </div>
         <div class="objects">
             <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
             <div class="earth-moon">
                 <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                 <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
             </div>
             <div class="box_astronaut">
                 <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
             </div>
         </div>
         <div class="glowing_stars">
             <div class="star"></div>
             <div class="star"></div>
             <div class="star"></div>
             <div class="star"></div>
             <div class="star"></div>
         </div>
     </div>
</body>